{% extends 'base.html' %}
{% block content %}
    <style>
    h1{
        color: darkred;
        font-weight: bold;
        text-align: center;
    }
    </style>

    <h1>Task List</h1>

    <div class="container">
        <div class="row">
            {% for task in tasks %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.description }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ task.status }}</h6>
                        <p class="card-text">{{ task.due_date|date:"Y-m-d" }}</p>
                        <a href="{% url 'task_view' task.id %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'task_add' %}" class="btn btn-danger">Добавить</a>
    </div>
{% endblock %}